* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "LeagueSpartan-Regular", sans-serif;
    background: #010225;
}
.container-wider {
    max-width: 1382px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container {
    max-width: 1298px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-banner {
    max-width: 1470px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}